<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places You've Been</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Place Details</h1>
      </div>
      <h1>Place Details: </h1>

      <h2>@Model.City</h2>
      <h2>@Model.State</h2>
      <h2>@Model.Country</h2>
      <h2>@Model.Duration</h2>

      <a href='/places/new'>Add another places</a>
      <a href='/places'>View all places</a>
      
      <form action='/places/delete/@Model.Id' method="post">
          <button type="submit"> Delete </button>
      </form>
    </div>
  </body>
</html>