<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Places You've Been</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Place Details: </h1>

    <h2>@Model.City</h2>

    <a href='/places/new'>Add another places</a>
    <a href='/places'>View all places</a>
  </body>
</html>